* {
    transition: all 0.3s;
    margin: 0px;
    padding: 0px;
}
:root {
  --main-radius: 5px;
  --main-padding: 5px;
}


body{font-family: 'Poppins', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/info.svg");
    background-attachment: fixed;
    background-size: cover;
}

.todo{
    background-color:rgb(251, 251, 199);
    border: solid 3px black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%; 
    margin-right:10%;
    width: 80%;
    height: 90%;
    align-content: center;
}


nav{
  background-color: rgb(5, 140, 0);
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;
  width: 100%;
}


.menu-horizontal{
  background-color: rgb(5, 140, 0);
  height: 100px;
  width: 100%;
  list-style: none;

}

.menu-horizontal > li a{
    display: block;
    padding: 15px 20px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    float: left;
}

#selector{
   color: white;
   font-family: 'Poppins', sans-serif;
}

#selector:hover{
  padding: 20px 20px;
  background-size: cover;
  font-size: 40px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.0fr 0.7fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar sidebar main main"
    "footer footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}


main {
  background-color: rgba(255, 255, 90, 0.589);
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;
  animation: reci3 1s ease;
}


.infor{
  text-align: center;
  margin: 2rem;
  color: black;
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}

.parrafo1{
  color: black;
  text-align: center;
  font-size: 2em;
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
}


.fotos2{
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.fotore{
width: 600px;
height: 600px;
min-width: 250px;
min-height: 180px;
}

#sidebar {
  background-color: rgba(184, 255, 90, 0.589);
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;animation: reci2 1s ease;
}

@keyframes reci2{
  0% {
    opacity: 0;
    transform: translateX(-100%);
}

100%{
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes reci3{
  0% {
    opacity: 0;
    transform: translateX(100%);
}

100%{
    opacity: 1;
    transform: translateX(0);
}
}

.fotore{
  width: 130px;
  height: 130px;
}



.contenedor ul li{
  margin: 2em;
  list-style: none;
  font-size: 2em;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.contenedor h2{
  color: black;
  font-size: 3em;
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
 
}

.contenedor p{
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-size: 2em;
  margin: 2rem;
  color: black;
}

.imge{
  height: 150px;
  width: 150px;
}

img{
  height: 150px;
  width: 150px;
}

.fotos{
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}

.imge :hover{
  width: 200px ;
  height: 200px;
}



footer {
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer
{
  margin-bottom: 0;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
  color:#737373;
  display: flex;
  justify-content: space-between;
}


.footer h6
{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  font-size:16px;
  margin-top:5px;

}

.reci{
  margin: auto;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text{
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.cont1{
  font-family: 'Poppins', sans-serif;
  
}

p{
  color: rgb(190, 189, 189);
  font-family: 'Poppins', sans-serif;
}

.cont3{
  text-align: center;
  background-color:#26272b;
  color: white;

}


@media only screen and (min-width: 700px) {
 .reci {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .infor {
     font-size: 5em;
   }


  .contenedor h2 {
    font-size: 5em;
  }

  .contenedor p {
    font-size: 3em;
  }

  .contenedor ul li{
    font-size: 3em;
  }

   .parrafo1 {
    font-size: 3em;
  }

   .last-title{
    font-size: 5em;
   }
 }

 @media only screen and (min-width: 1500px) {
  .infor {
     font-size: 6em;
   }


   .contenedor h2 {
    font-size: 6em;
  }

  .contenedor p {
    font-size: 4em;
  }
  .contenedor ul li{
    font-size: 4em;
  }

   .parrafo1 {
    font-size: 4em;
  }

   .last-title{
    font-size: 5em;
   }
 }

 @media screen and (min-width: 1800px){
  .cont1 h6{
    font-size: 1em;
    border-bottom: 30rem
   }



   .cont1 ul li{
    font-size: 1em;
    border-top: 3em;
   }

   .text h6{
    font-size: 1em;
    border-bottom: 1em;
   }

   .text p{
    font-size: em;
    border-top: 1em;
   }


   .cont2 h6{
    font-size: 1em;
    border-bottom: 1em;
   }

   .redes li a{
    width: 65px ;
    height: 65px;
   }
   
  
 }

 @media screen and (min-width:2100px) {
  .imge{
    height: 350px;
    width: 350px;
  }

  .fotos{
    margin-right: 4em;
    margin-left: 4em;
  }

  .fotore{
    height: 350px;
    width: 350px;
  }
  
 }

 @media only screen and (min-width: 3300px) {
  .infor {
     font-size: 7.5em;
   }



   .text h6{
    font-size: 1em;
    margin-bottom: 1.5em;
   }

   .text p{
    font-size: 2em;
    border-bottom: 1em;
   }

   .contenedor h2 {
    font-size: 7.5em;
  }

  .import{
    font-size: 7.5rem;
  }

  .contenedor ul li{
    font-size: 4em;
  }
  .cont1 h6{
    font-size: 1em;
    margin-bottom: 1.5em;
   }

   .cont1 ul li{
    font-size: 2em;
    border-top: 3em;
   }

   .cont2 h6{
    font-size: 1.5em;
   }

   .redes li a{
    width: 65px ;
    height: 65px;
   }
  .contenedor p {
    font-size: 4em;
    margin: 2rem;
  }
   .parrafo1 {
    font-size: 4em;
    margin: 2em;
  }

   .last-title{
    font-size: 5em;
   }
 }


.email
{
  padding-left:0;
  list-style:none;
}
.email li
{
  display:block;
  color: rgb(190, 189, 189);
  font-family: 'Poppins', sans-serif;

}

.email.inline li
{
  display:inline-block;
}


.site-footer .redes a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}


.cont2 h6{
  text-align: center;
  
}

.redes
{

  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.redes li
{
  display:inline-block;
  margin-bottom:4px
}
.redes li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.redes a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.redes a:active,.redes a:focus,.redes a:hover
{
  color:#fff;
  background-color:#29aafe
}


 .facebook{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/iconfb.webp') ;
}
.instagram{
  background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/iconist.webp') ;
}
.twitter{
  background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/twiter1.png') ;
}

.redes a.facebook:hover
{
  opacity: 0.5;
}
.redes a.instagram:hover
{
  opacity: 0.5;
}

.redes a.twitter:hover
{
  opacity: 0.5;
}
@media (max-width:767px)
{
  .redes li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3.8fr 3.2fr  0.8fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
  }
}
  .redes a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .redes a:active,.redes a:focus,.redes a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .redes.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  
   .facebook{
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('../assets/iconfb.webp') ;
  }
  .instagram{
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('../assets/iconist.webp') ;
  }
  .twitter{
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('../assets/twiter1.png') ;
  }
  
  .redes a.facebook:hover
  {
    opacity: 0.5;
  }
  .redes a.instagram:hover
  {
    opacity: 0.5;
  }
  
  .redes a.twitter:hover
  {
    opacity: 0.5;
  }
  @media (max-width:767px)
  {
    .redes li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  