@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    transition: all 0.3s;
    margin: 0px;
    padding: 0px;
}



body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: white;
}


.todo{
    background-color:rgb(251, 251, 199);
    border: solid 3px black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%; 
    margin-right:10%;
    width: 80%;
    height: 80%;
    align-content: center;
}

@keyframes reciplanet{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-horizontal{
    background-color: rgb(5, 140, 0);
    height: 100px;
    width: 100%;
    list-style: none;
 
}

.menu-horizontal > li a{
    display: block;
    padding: 15px 20px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    float: left;
}

#selector{
   color: white;
   font-family: 'Poppins', sans-serif;
   padding: 15px 20px;
}

#selector:hover{
    padding: 20px 20px;
    background-size: cover;
    font-size: 40px;
    color: black;
    background: gold;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    background-color: #69ee41;
    border-bottom: 3px solid black;
    font-family: 'Poppins', sans-serif;
}


.contenedor{
  
    width: 50%;
    height: 20%;
    margin-left: 20px;
    margin-top: 7px;
    text-align: center;
    display: inline-block;
    align-content: right;
    animation: reci2 1s ease;
    
}

@keyframes reci2{
    0% {
      opacity: 0;
      transform: translateX(-100%);
  }

  100%{
      opacity: 1;
      transform: translateX(0);
  }
  }

  @keyframes reci3{
    0% {
      opacity: 0;
      transform: translateX(100%);
  }

  100%{
      opacity: 1;
      transform: translateX(0);
  }
  }



.contenedor ul li{
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.contenedor h2{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
   
}

.contenedor p{
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-size: 20px;
    color: black;
}

.imge{
    height: 150px;
    width: 150px;
}

img{
    height: 150px;
    width: 150px;
}

.fotos{
    display: flex;
    justify-content: space-between;
}

.imge :hover{
    width: 200px ;
    height: 200px;
}


.inf{
    
    width: 30%;
    height: 20%;
    margin-right: 25px;
    text-align: center;
    align-content: left;
    float: right;
    margin-top: 20px;
    animation: reci3 1s ease;
}

.inf h2{
    text-align: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}

.inf p{
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


.fotos2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .footer
  {
    margin-top: 20px;
    min-height: 300px;
    width: 100%;
    background-color:#26272b;
    padding:45px 0 20px;
    font-size:20px;
    line-height:24px;
    color:#737373;
    display: flex;
    justify-content: space-between;
  }
  
  
  .footer h6
  {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color:#fff;
    font-size:16px;
    margin-top:5px;
  
  }
  
  .reci{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .text{
    margin: 0;
  
  }
  
  .cont1{
    margin-top: 30px;
  
  }
  
  p{
    color: rgb(190, 189, 189);
    font-family: 'Poppins', sans-serif;
  }
  
  .cont3{
    text-align: center;
    background-color:#26272b;
    color: white;
  
  }
  
  
  .email
  {
    padding-left:0;
    list-style:none;
  }
  .email li
  {
    display:block;
    color: rgb(190, 189, 189);
    font-family: 'Poppins', sans-serif;
  
  }
  
  .email.inline li
  {
    display:inline-block;
  }
  
  
  .site-footer .redes a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
  }
  .hecho
  {
    font-family: 'Poppins', sans-serif;
    margin:0
  }
  @media (max-width:991px)
  {
    .footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .footer
    {
      padding-bottom:0
    }
    .footer .hecho,.footer .redes
    {
      text-align:center
    }
  }
  
  .cont2 h6{
    text-align: center;
    
  }
  
  .redes
  {
  
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .redes li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .redes li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .redes a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .redes a:active,.redes a:focus,.redes a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .redes.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  
   .facebook{
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('https://us.123rf.com/450wm/alsstocks450/alsstocks4501911/alsstocks450191100111/136346945-voronezh-rusia-21-de-noviembre-de-2019-icono-redondo-del-logotipo-de-facebook-en-color-azul.jpg?ver=6') ;
  }
  .instagram{
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/1200px-Instagram_logo_2022.svg.png') ;
  }
  .twitter{
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('http://store-images.s-microsoft.com/image/apps.26737.9007199266244427.c75d2ced-a383-40dc-babd-1ad2ceb13c86.ed1d047e-03d9-4cd8-a342-c4ade1e58951') ;
  }
  
  .redes a.facebook:hover
  {
    opacity: 0.5;
  }
  .redes a.instagram:hover
  {
    opacity: 0.5;
  }
  
  .redes a.twitter:hover
  {
    opacity: 0.5;
  }
  @media (max-width:767px)
  {
    .redes li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  
  

