*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

/* BODY */
body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#0f172a,#1e293b,#020617);
}

/* CONTENEDOR */
.container{
  width:850px;
  height:500px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  border-radius:20px;
  display:flex;
  overflow:hidden;
  box-shadow:0 20px 60px rgba(0,0,0,0.6);
}

/* PANEL */
.panel{
  width:50%;
  background: linear-gradient(135deg,#16a34a,#4ade80);
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:2rem;
}

.panel h1{
  font-size:2.5rem;
}

.panel p{
  margin:1rem 0;
}

.panel button{
  padding:10px 20px;
  border:none;
  border-radius:10px;
  background:white;
  color:black;
  cursor:pointer;
  transition:.3s;
}

.panel button:hover{
  transform:scale(1.05);
}

/* FORMULARIOS */
.forms{
  width:50%;
  display:flex;
  position:relative;
  overflow:hidden;
}

.form{
  width:100%;
  padding:2rem;
  position:absolute;
  top:0;
  left:0;
  transition:0.5s;
}

.form h2{
  margin-bottom:1rem;
  color:white;
}

.input{
  width:100%;
  margin:10px 0;
  padding:10px;
  border-radius:8px;
  border:none;
  outline:none;
}

.btn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:white;
  margin-top:10px;
  cursor:pointer;
  transition:0.3s;
}

.btn:hover{
  background:#16a34a;
}

#login{
  transform:translateX(0%);
}

#register{
  transform:translateX(100%);
}

.container.active #login{
  transform:translateX(-100%);
}

.container.active #register{
  transform:translateX(0%);
}

p{
  color:#cbd5e1;
  font-size:0.9rem;
}

/* RESPONSIVE */
@media(max-width:768px){
  .container{
    flex-direction:column;
    height:auto;
  }

  .panel, .forms{
    width:100%;
  }
}