* {
  padding: 0;
  margin: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: steelblue;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20210310/pngtree-cartoon-natural-landscape-background-image_582181.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 120%;
  }

  .menu-horizontal{
    border-radius: 20px;
    height: 60px;
    width: 80%;
    list-style: none;
 
}

.menu-horizontal > li a{
    padding: 15px 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    float: left;
}

#selector{
  border: 2px solid black;
   background: rgb(78, 121, 238);
   color: rgb(255, 255, 255);
   font-family: 'Lobster', cursive;
   border-radius: 20px;
}

#selector:hover{
  border: 2px solid black;
    color: white;
    background: rgba(57, 102, 226, 0.582);
    border-radius: 20px;
   
}
  
  #encabezado {
    width: 80vw;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(209, 218, 215);
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
  }

  .regresar{
  
    background-color: aqua;
    border-radius: 50px;
  }
  
  .opcion {
    width: 80vw;
    background: rgb(209, 218, 215);
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .opcion:hover{
    background: rgba(127, 228, 203, 0.678);
      
       font-weight: 30px;
       transition: all 0.3s ease;
  }
  