*{
    transition: all 0.3s;
    box-sizing: border-box;
    margin: 0;
}

root {
  --login-bg:#f8f3ff;
  --title-bg: #9089cc;
  --button-bg: #674baf;
  --light-pink: #e882e8;
  --image-bg:  #eadbff ;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: url(../assets/index.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Contenedor-padre {
  height: 43.75em;
  width: 60em;
  margin: 6em auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.info-contenedor{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0.5rem;
  background-color: var(--login-bg);
}

.contenedor-imagen {
  padding: 2rem;
  width: 50%;
  background-color: var(--image-bg);
  box-sizing: border-box;
  
}

.title {
  text-transform: capitalize;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--title-bg);
}

.redes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.redes-element {
  width: 12.5rem;
  height: 3.75rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border: 1px solid var(--button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-element img {
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  top: 0;
  left: -0.625rem;
}

.redes-element:hover {
  background-color: #fff;
}

.info-contenedor > p {
  font-size: 1.25em;
  margin-top: 1.5em;
}

.contenedores-input{
  height: 55%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input, .btn {
  width: 90%;
  height: 3.125rem;
  font-size: 1em;
}

.input {
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
}

.input:hover {
  border: 2px solid var(--button-bg);
}

.btn {
  width: 80%;
  background-color: green;
  padding: 15px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  background-color: rgb(186, 255, 96);
  color: black;
}

.contenedores-input p {
  margin: 0;
}

.link{
  color: var(--light-pink);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.span{
  color: var(--light-pink);
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  body{
   display: flex;
   justify-content: center;
   align-items: center;
  }
 
 
 .Contenedor-padre {
     width: 70%;
     margin-top: 3rem;
 }
 .info-contenedor {
     width: 100%;
     border-radius: 5px;
 }
 
 .contenedor-imagen {
     display: none;
 
 }  
 }

 @media screen and (max-width:1000px) {
  .info-contenedor{
    display: flex;
    flex-direction: column;
  }
  
 }

 @media screen and (max-width:380px) {

  input.input {
    width: 90%;
    height: 3.125rem;
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }

    button.btn{
      width: 90%;
    }

  
 }
 
 
 @media screen and (max-height: 700px) {
  .Contenedor-padre {
      width: 70%;
      height: 80%;
      margin-top: 3rem;
  }
  .info-contenedor {
      width: 100%;
      border-radius: 5px;
  }
  
  .contenedor-imagen {
   padding: 1rem;
   width: 40%;
  }  
  }
 
 
   @media screen and (max-height: 440px) and (max-width: 1500px){
     .Contenedor-padre {
         width: 70%;
         height: 85%;
         margin-top: 2rem;
     }
     .info-contenedor {
       display: flex;
       flex-direction: column;
         width: 100%;
         height: 100%;
         border-radius: 5px;
     }
   
     .input {
       width: 70%;
       height: 3.125rem;
       font-size: 1em;
       margin-top: 0.5em;
       margin-bottom: 0.5em;
       }
   
   
       .title{
         display: none;
       }
     
     .contenedor-imagen {
      display: none;
     }  
   
     .btn{
       width: 50%;
       background-color: green;
       padding: 15px 20px;
       letter-spacing: 0;
       font-size: 0.5em;
     }
     }
 
 
 
 @media screen and (max-width: 650px) {
 .Contenedor-padre {
     width: 90%;
 }
 }
 
 @media screen and (max-width: 500px) {
 .Contenedor-padre {
     height: 90%;
 }
 
 .redes {
     flex-direction: column;
     align-items: center;
     height: 30%;
 }
 
 .info-contenedor> p {
     margin: 0;
 }
 }