* {
  transition: all 0.3s;
  margin: 0px;
  padding: 0px;
}
:root {
--main-radius: 5px;
--main-padding: 5px;
}

body{
  background-image: url("../assets/index.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


.header{
  background-image: url(../assets/liquid-cheese.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: grid;
  grid-area: nav;
  animation: reciplanet7 .4s;
}

.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link{
  color: black;
  text-decoration: none;
}

.nav-linkt{
  color: black;
  text-decoration: none;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
  list-style: none;
  
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover{
  background-color: #0000005d;
  color: white;
  transition: .5s;
}


.toggle{
  position: fixed;
  left: 20px;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}

@media (max-width:1258px){

  .nav-linkt{
    color: black;
    text-decoration: none;
  }


  .logo{
    font-size: 25px;
    padding: 0 20px;
  }

  .nav-menu{
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #62d162;
    position: fixed;
    inset: 0;
    right: 0;
    top: 60px;
    color: white;
    width: 50%;
    padding: 20px 0;
    height: calc(50% - 60px);
    overflow-y: auto;
    left: -100%;
    transition: left 0.3s;
  }

  .nav-menu-item{
    line-height: 70px;
  }

  .nav-menu-link:hover,
  .nav-menu-link_active{
    background-color: none;
    color: #83c5f7;
  }

  .toggle{
    display: block;
  }

  .nav-menu_visible{
    left: 0;
  }

}

.container {
display: grid;
height: 100vh;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 0.2fr 2.0fr 0.7fr;
grid-template-areas:
  "nav nav nav nav"
  "sidebar sidebar main main"
  "footer footer footer footer";
grid-gap: 0.2rem;
font-weight: 800;
text-transform: uppercase;
font-size: 12px;
color: #004d40;
text-align: center;
}


main {
background-color: rgba(255, 255, 90, 0.589);
grid-area: main;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
color: white;
animation: reci3 1s ease;
}

@keyframes reci3{
  0% {
    opacity: 0;
    transform: translateX(100%);
}
100%{
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes reci7{
  0% {
    opacity: 0;
}
100%{
    opacity: 1;
}
}


@keyframes reciplanet{
  0% {
    opacity: 0;
    transform: translateX(-100%);
}
100%{
    opacity: 1;
    transform: translateX(0);
}
}


.imga{
margin-top: 30px;
display: flex;
justify-content: center;
}

.imga img{
  width: 267px;
  height: 267px;
  margin: 1em;
}

.last-container img{
  width: 267px;
  height: 267px;
    display: flex;
    margin: 0;
    vertical-align: center;
    align-content: center;
    align-self: center;

}
.left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 2rem;
}

.last-title {
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  font-size: 4em;
  font-weight: 500;
  line-height: 1.12;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.last-title1{
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  font-size: 4em;
  font-weight: 500;
  line-height: 1.12;
  margin-bottom: 1rem;
  margin-top: 3rem;

}

.imga2{
  align-self: center;
  margin-top: 1em;
}

.last-title2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    line-height: 1.12;
    margin-bottom: 1rem;
    margin-top: 1rem;
  
}

.last-description {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 2em;
  color: black;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.15;
}

.last-description1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: black;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.15;
  margin-top: 2em;

}

@media screen and (max-width:400px){
  .imga img{
    width: 200px;
  height: 200px;
  }
  
  .last-container img{
    width: 200px;
  height: 200px;
  }

  .menu-horizontal li a{
    font-size: 1.7rem;
  }
  

}



@media only screen and (min-width: 1000px) {
  .infor {
     font-size: 5em;
   }


  .contenedor h2 {
    font-size: 5em;
  }

  .contenedor p {
    font-size: 3em;
  }

  .contenedor ul li{
    font-size: 3em;
  }

   .parrafo1 {
    font-size: 3em;
  }

   .last-title{
    font-size: 5em;
   }
 }

 @media only screen and (min-width: 1500px) {
   .contenedor h2 {
    font-size: 6em;
  }

  .contenedor p {
    font-size: 4em;
  }
  .contenedor ul li{
    font-size: 4em;
  }
 }

 @media screen and (min-width: 1800px){
   .cont1 ul li{
    font-size: 1em;
    border-top: 3em;
   }

   .text h6{
    font-size: 1em;
    border-bottom: 1em;
   }

   .text p{
    font-size: em;
    border-top: 1em;
   }


   .cont2 h6{
    font-size: 1em;
    border-bottom: 1em;
   }

   .redes li a{
    width: 65px ;
    height: 65px;
   }
   
  
 }


 @media only screen and (min-width: 3300px) {

   .text h6{
    font-size: 1em;
    margin-bottom: 1.5em;
   }

   .text p{
    font-size: 2em;
    border-bottom: 1em;
   }

  .contenedor ul li{
    font-size: 4em;
  }
  .cont1 h6{
    font-size: 1em;
    margin-bottom: 1.5em;
   }

   .cont1 ul li{
    font-size: 2em;
    border-top: 3em;
   }

   .cont2 h6{
    font-size: 1.5em;
   }

   .redes li a{
    width: 65px ;
    height: 65px;
   }
  .contenedor p {
    font-size: 4em;
    margin: 2rem;
  }

 }


.last-big-title {
  align-items: center;
  color: transparent;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  color: black;
  line-height: 0.9;
  padding: 1rem;
  text-align: center;
  -webkit-text-stroke: 1px var(--cod-gray);
  text-transform: uppercase;
}

#sidebar {
background-color: rgba(184, 255, 90, 0.589);
grid-area: sidebar;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
color: white;animation: reciplanet 1s ease;
}


footer {
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  color: white;  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
  color:#737373;
  display: flex;
  justify-content: space-between;
}


.footer h6
{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  font-size:16px;
  margin-top:5px;

}

.reci{
  margin: auto;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text{
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.cont1{
  font-family: 'Poppins', sans-serif;
  
}

p{
  color: rgb(190, 189, 189);
  font-family: 'Poppins', sans-serif;
}

.cont3{
  text-align: center;
  background-color:#26272b;
  color: white;

}


@media only screen and (min-width: 700px) {
 .reci {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    height: 100px;
  }
  
}

@media only screen and (max-width: 980px) {
  .menu-horizontal {
     flex-direction: column;
     display: flex;
     justify-content: center;
   }
 }

 @media only screen and (min-width: 1000px) {
  .last-description {
     font-size: 3em;
   }

   .last-description1 {
    font-size: 3em;
  }

   .last-title{
    font-size: 5em;
    margin-top: 2em;
   }
 }



.email
{
  padding-left:0;
  list-style:none;
}
.email li
{
  display:block;
  color: rgb(190, 189, 189);
  font-family: 'Poppins', sans-serif;

}

.email.inline li
{
  display:inline-block;
}


.site-footer .redes a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}


.cont2 h6{
  text-align: center;
  
}

.redes
{

  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.redes li
{
  display:inline-block;
  margin-bottom:4px
}
.redes li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.redes a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.redes a:active,.redes a:focus,.redes a:hover
{
  color:#fff;
  background-color:#29aafe
}


 .facebook{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/iconfb.webp') ;
}
.instagram{
  background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/iconist.webp') ;
}
.twitter{
  background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/twiter1.png') ;
}

.redes a.facebook:hover
{
  opacity: 0.5;
}
.redes a.instagram:hover
{
  opacity: 0.5;
}

.redes a.twitter:hover
{
  opacity: 0.5;
}
@media (max-width:767px)
{
  .redes li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 3.8fr 3.2fr  0.8fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "footer";
  }
}
  .redes a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .redes a:active,.redes a:focus,.redes a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .redes.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  
   .facebook{
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('../assets/iconfb.webp') ;
  }
  .instagram{
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('../assets/iconist.webp') ;
  }
  .twitter{
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url('../assets/twiter1.png') ;
  }
  
  .redes a.facebook:hover
  {
    opacity: 0.5;
  }
  .redes a.instagram:hover
  {
    opacity: 0.5;
  }
  
  .redes a.twitter:hover
  {
    opacity: 0.5;
  }
  @media (max-width:767px)
  {
    .redes li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }
  

  