*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url("../assets/index.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* CABECERA */
#header {
background-color:#2d2d2d;
color: #ECE9E6;
padding:1em;
box-shadow: 0 0 155px rgba(0,0,0,0.75) inset;
}
#header h1 {
text-align: center;
font: 70px;
font-weight: 500;
margin: 1em;
}
h1 {
display: block;
font-size: 3em;
font-weight: bold;
}
/* MENU NAVEGACION */
nav ul {
  
  margin:0; /* PAGINA SIN MARGENES */
  padding:1em;
  left:0;
  right:0;
  list-style-type:none; /* Quitar lista */
  font-family: 'Poppins', sans-serif;
  color: black;
}

#menu {
  justify-content: space-around;
  display:table;
  overflow:hidden;
  width:98%;
  position:relative;
  background-image: url(../assets/liquid-cheese.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
border-radius: 10px;
margin-bottom: 40px;
}

@keyframes reciplanet5 {
  0% {
    opacity: 0;
}
100%{
    opacity: 1;
}
}

#menu li {
  display:table-cell;
  animation: reciplanet5 0.7s ease-in;
} /* COLOCA MENU EN CELDAS */

#menu li a {
  color:#000;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  width: 30%;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 30px;
  display:block; /* CAMBIAR ANCHO Y ALTO DEL ELEMENTO a */
  /*line-heigth:20px;*/
  padding:20px;
  position:relative;
  text-align:center;
  text-decoration:none;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
#menu a:hover {
  opacity: 0.7;
  color: black;
  display: block;
}
/* COLOCAR ICONOS HACIA EL FONDO PARA LA ANIMACION */
nav > ul > li > a span {
  background:#174459;
  display:block; /* LOS ICONOS LOS QUITAMOS COMO ELEMENTOS EN LINEA */
  height:100%;
  width:100%;
  left:0px;
  position:absolute;
  top:-55px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
/* CENTRAR ICONOS */
nav > ul > li > a span .fa {
  width: 60%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
/* ICONOS BAJEN AL PASAR EL PUNTERO */
/* SE ACCEDE AL ELEMENTO a Y CUANDO PASEMOS EL
PUNTERO SOBRE EL ELEMENTO a LOS CAMBIOS SE VAN A APLICAR AL ELMENTO span */
nav > ul > li > a:hover > span {
  top:0;
}
/* -------------------------------------- */
/* INICIO SUB-MENU */
.list:hover {
  display: block; /* INDICA QUE AL PASAR EL PUNTERO POR EL ELEMENTO li MUESTRE EL ELMENTO ul */
}
#submenu {
  display: none;
  position:absolute;
  background:#fff; /* PROBLEMA BARRA NEGRA */
  overflow:hidden; /* LOS ELEMENTOS NO QUEDEN FUERA */
  left:0;
  height:0%;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; 
}
/* COLORES FONDO ICONOS */
.usuario{
  opacity: 0.8;
  border: 3px solid black;
  border-radius: 50px;
}
  
.usuario:hover{
  opacity: 1;
  border: 3px solid black;
  border-radius: 50px;
  transform: translateY(-10px);
  transition: all 0.3s;
}


.color2 {
  height: 70px;
  width: 200px;
  border-radius: 30px;
  background-image: url(../assets/verde1.png);
  color: white;
  background-position: center;
  background-size: cover;


}
.color3 {
  height: 70px;
  width: 200px;
    border-radius: 30px;
    background-image: url(../assets/blanco1.png);
  background-position: center;
  background-size: cover;
}
.color4 {
  height: 70px;
  width: 200px;
    border-radius: 30px;
    background-image: url(../assets/negro1.png);
   color:white;
  background-position: center;
  background-size: cover;
}
/* FIN SUB-MENU */
/* INICIO BODY */
.user-form {
    width: 100%;
    max-width: 700px;
  }
  
  .user-form input {
    width: 100%;
    display: block;
    background-image: url(../assets/sss.png);
    border: solid 2px black;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);
  }
  
  .user-form input::placeholder {
    color: rgb(0, 0, 0);
  }
  
  .user-form input:focus {
    outline: none;
  }
  
  .card {
    max-width: 800px;
    background-color: #004b66;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
  }
  .avatar {
  border-radius: 50%;
  border: 5px solid #00394d;
  height: 150px;
  width: 150px;
}
.user-info {
  color: black;
  margin-left: 2rem;
}
.user-info h2 {
  margin-top: 0;
}
.user-info ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}
.user-info ul li {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
  @media (max-width: 500px) {
    .card {
      flex-direction: column;
      align-items: center;
    }
  
    .user-form {
      max-width: 400px;
    }
  }
  /*PRIMER CONTENEDOR*/
  .section-container:last-of-type {
    display: flex;
    flex-direction: row;
    float: left;
    margin-bottom: 50px;

  }
  
  .section-container {
    background: 100% center / cover no-repeat;
    min-height: 100vh;
    width: 100%;
  }
  @keyframes reciplanet{
    0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}
  .last-container {
    margin-left: 20px;
    animation: reciplanet 1.2s ease;
    backdrop-filter: blur(10px);
    background-color: #5da57399;
    border: 1px;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    display: flex;
    width: min(39rem, calc(50% + 70px));
  }

.imga{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

  .last-container img{
    width: 150px;
      height: 150px;
      display: flex;
      margin: 0;
      vertical-align: center;
      align-content: center;
      align-self: center;

  }
  .left {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 2rem;
    padding: 2rem;
  }
  
  .last-title {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.12;
    margin-bottom: 1rem;
  }
  
  .last-title2 {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.12;
    margin-bottom: 1rem;
    margin-top: 40px;
  }
  
  .last-description {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.15;
  }
  
  .last-big-title {
    align-items: center;
    color: transparent;
    display: flex;
    font-size: 6rem;
    font-weight: 700;
    height: 100%;
    line-height: 0.9;
    padding: 1rem;
    text-align: center;
    -webkit-text-stroke: 1px var(--cod-gray);
    text-transform: uppercase;
    width: 100%;
  }

  .right{
    float: right;
    flex: 1;
    flex-direction: column;
    margin-left: 3rem;
    padding: 2rem;
    background-color: #fafd5aa3; border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    animation: reciplanet2 1.2s ease;
    backdrop-filter: blur(10px);
    border: 1px;
    border-radius: 1rem;
    display: flex;
    width: min(39rem, calc(50% + 70px));
  }

  .right img{
    width: 300px;
    height: 200px;
    border: solid 2px #2d2d2d;
    align-self: center;
  }

  .imga2{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  @keyframes reciplanet2{
    0% {
      opacity: 0;
      transform: translateX(100%);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}
  
.last-description1 {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 20px;
  
}
  
/* FIN DEL BODY */
/* FOOTER */



footer{
  margin-top:40px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer
{
  margin-top: 20px;
  height: 100px;
  width: 100%;
  background-color:black;
  padding:45px 0 20px;
  font-size:20px;
  line-height:24px;
  color:#737373;
  display: flex;
  justify-content: space-between;
}


.footer h6
{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  font-size:16px;
  margin-top:5px;

}

.reci{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.text{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.cont1{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

p{
  color: rgb(190, 189, 189);
  font-family: 'Poppins', sans-serif;
}

.cont3{
  margin: 0;
  text-align: center;
  background-color:#26272b;
  color: white;

}


.email
{
  padding-left:0;
  list-style:none;
}
.email li
{
  display:block;
  color: rgb(190, 189, 189);
  font-family: 'Poppins', sans-serif;

}

.email.inline li
{
  display:inline-block;
}


.site-footer .redes a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}
.hecho
{
  font-family: 'Poppins', sans-serif;
  margin:0
}
@media (max-width:991px)
{
  .footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .footer
  {
    padding-bottom:0
  }
  .footer .hecho,.footer .redes
  {
    text-align:center
  }
}

.cont2 h6{
  text-align: center;
  
}

.redes
{

  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.redes li
{
  display:inline-block;
  margin-bottom:4px
}
.redes li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.redes a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.redes a:active,.redes a:focus,.redes a:hover
{
  color:#fff;
  background-color:#29aafe
}
.redes.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

 .facebook{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/iconfb.webp') ;
}
.instagram{
  background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/iconist.webp') ;
}
.twitter{
  background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
  background-image: url('../assets/twiter1.png') ;
}

.redes a.facebook:hover
{
  opacity: 0.5;
}
.redes a.instagram:hover
{
  opacity: 0.5;
}

.redes a.twitter:hover
{
  opacity: 0.5;
}
@media (max-width:767px)
{
  .redes li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
