@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* Assigning all the same properties to the body */
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url(../assets/reci-1.png);
    background: linear-gradient(0deg, rgba(252, 70, 45, 0.24), rgba(252, 70, 45, 0.24)), url(../assets/reci-1.png), #C4C4C4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
 
.container{
    flex-direction: row;
       display: flex;
       justify-content: space-around;
       height: 60vh;
       width: 60vw;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}
 
.user-image{
    padding: 3em 0;
    margin-top: 0;
    background-image: linear-gradient(70deg,#3ef15c,#d8db1e);
}
 
.user-image img{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    box-shadow:  0 0.6em 1.8em ;
    object-fit: cover;
}
 
.content{
    color: #565656;
    padding: 3.2em;
}



   @media only screen and (min-width: 560px) {
    .container {
       flex-direction: column;
       display: flex;
       justify-content: space-around;
       height: 30%;
       width: 30%;
     }
   }

   

   @media only screen and (min-width: 1200px) {
    .container {
       flex-direction: column;
       display: flex;
       justify-content: space-around;
       height: 60%;
       width: 60%;
     }

     .name h3{
        font-size: 6em;

     }

     p{
        font-size: 4em;
     }

     .regresar{
        margin-bottom: 4rem;
        font-size: 3em;
     }

     .content{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

     }

     .user-image{

        height: 30em;
        align-items: center;
        justify-content: center;
        display: flex;
     }

     .user-image img{
        width: 20em;
        height:20em;
     }

     a.regresar{
        font-size: 2.2em;
    padding: 2.2em 4em;
    margin-right: 0;

     }

     
   }
   



   @media only screen and (max-width: 1200px) {
    .container {
       flex-direction: row;
       display: flex;
       justify-content: space-around;
       height: 60%;
       width: 60%;
     }

     .name h3{
        font-size: 6em;

     }

     p{
        font-size: 4em;
     }

     a.regresar{
        margin-bottom: 4rem;
        font-size: 2.4em;
        margin-right: 0;
     }

     .content{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
     }
   }


   @media only screen and (max-width: 800px) {
    .container {
       flex-direction: row;
       display: flex;
       justify-content: space-around;
       height: 60%;
       width: 60%;
     }

     .user-image img{
        width: 5em;
        height:5em;
     }

     .user-image{
        width: 0;
        height: 0;
     }

     .name h3{
        font-size: 6em;

     }

     p{
        font-size: 4em;
     }

     a.regresar{
        margin-bottom: 3rem;
        font-size: 1.5em;
     }

     .content{
        
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
     }
   }
 
   @media only screen and (min-width: 1200px) {
    .container {
       flex-direction: column;
       display: flex;
       justify-content: space-around;
       height: 60%;
       width: 60%;
     }

     .name h3{
        font-size: 6em;

     }

     p{
        font-size: 4em;
     }

     .regresar{
        margin-bottom: 4rem;
        font-size: 3em;
     }

     .content{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
     }
   }

   
 
 
.name{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
}
 
.username{
    font-family: 'Poppins', sans-serif;
    font-size: 2.3em;
    color: #9e9e9e;
}
 
.links{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    margin: 1.5em 0;
}
 
a{
    text-decoration: none;
    color: #565656;
    transition: all 0.3s;
    font-size: 2em;
    margin-right: 1.2em;
}
 
a:last-child{
    margin: 0;
}
 
 
.puntaje{
    margin-bottom: 1.8em;
}
 
 
/* CSS for messagin link */
 
.regresar {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: rgb(48, 41, 41);
    text-transform: capitalize;
    width: 100%;
    background-color: #6ff763;
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 5em;
    overflow: hidden;
}

.regresar:hover{
    background-color: #0000005d}
