*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
background-image: url(../assets/index.svg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.div{
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto 90% auto;
  justify-content: stretch;
  gap: 20px;
}

.contenedor{
  background-color: white;
  grid-row: 2/3;
  border-radius: 20px;
  margin: 30px;
  box-shadow: 20px 40px 20px black;
}

.dgrid{
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 45% 45%;
  
}

.img{
  background-color: green;
  border-radius: 20px 20px 0 0 ;
  grid-row: 1/2;
  align-items: center;
  display: grid;
  justify-content: center;
}

img{
  margin-top: 3%;
  border: 2px solid black;
  border-radius: 50px;
  
}

.info{
  margin-top: 0.8rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
}

h2{
  font-size: 1.5rem;
}

.botones{
  display: grid;
  grid-row: 3/4;
  justify-content: center;
  align-items: center;
  list-style: none;
}


.submitBtn {
  width: 200px;
    padding: 10px 20px;
    background-color:  rgb(255, 208, 0);
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    border: 3px solid black;
    font-family: 'Poppins', sans-serif;
  }
  
  .submitBtn1 {
    width: 200px;
    padding: 10px 20px;
    background-color: rgb(84, 255, 5);
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.1rem;
    border: 3px solid black;
    font-family: 'Poppins', sans-serif;
  }
  
  
  .submitBtn:hover {
    background-color:  rgba(255, 208, 0, 0.747);
  
  }
  
  .submitBtn1:hover {
    background-color: rgba(84, 255, 5, 0.39);
  
  }

  @media screen and (max-height:560px) {

    .botones{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    
  }

